<div id="wrapper">
    <h1>News Scraper</h1>
    <div id="articles">
        {{#each articles}}
                {{> articles/article-block}}
        {{/each}}
    </div>
    <div id="comments"></div>
</div>
